@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.cbtn {
  background-color: rgb(124 58 237);
  color: white;
  border-radius: 8px;
}
.fImageEff {
  /* background-color: aqua; */
  z-index: 10;
  margin-top: 100px;
  border-bottom: 10px solid rgb(255, 197, 197);
  border-style: inset;
  border-color: black;
}
.blogcardanim {
  animation-iteration-count: 0.5;
  animation-duration: 400ms;
}

.btnedit {
  animation: editanim 0.4s ease-in;
}

@keyframes editanim {
  0% {
    bottom: -80px;
  }
  100% {
    bottom: 80px;
  }
}
.btndel {
  animation: delanim 0.4s ease-in;
}
@keyframes delanim {
  0% {
    bottom: -138px;
  }
  100% {
    bottom: 138px;
  }
}
/* CSS to customize scrollbar */
/* Width of the scrollbar */
::-webkit-scrollbar {
  display: hidden;
}
::-webkit-scrollbar:hover {
  display: block;
}
::-webkit-scrollbar {
  width: 4px; /* You can adjust this value */
  height: 4px;
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.blogCard2 {
  background-color: white;
  color: black;
  position: relative;
  z-index: 10;
}
.blogCard2_content {
  z-index: 10;
  /* color: black; */
  position: relative;
}
.blogCard2::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 0;
  background-color: black;
  border-radius: 8px;
  bottom: 0;
  transition: 200ms;
  z-index: 0;
}
.blogCard2:hover::after {
  width: 100%;
  color: white;
  z-index: 0;
}